
.neon{
 text-shadow:0 0 5px rgb(255, 196, 0),0 0 20px rgb(255, 187, 0);
}
.neon2{
 text-shadow:0 0 5px rgb(255, 0, 0),0 0 15px rgb(255, 0, 0);
}
.card{
 background:#111;
 border:1px solid rgb(255, 51, 0);
 box-shadow:0 0 10px rgb(255, 81, 0);
}
.neon-btn{
 box-shadow:0 0 10px rgb(255, 102, 0);
}
